/* Start Flexbox and Grid System */
.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.d-block {
    display: block;
}

@media (max-width: 767px) {
    .block-mob {
        display: block;
    }
}

/* End Flexbox and Grid System  */

/* Padding & Margin  */
.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.m-0 {
    margin: 0;
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* Padding & Margin  */

/* Color  */
.color-black {
    color: black;
}

.color-grey {
    color: var(--color-gray);
}

.color-white {
    color: white;
}

.color-blue {
    color: var(--color-blue);
}

.color-orange {
    color: var(--color-orange);
}

.color-green {
    color: var(--color-green);
}

.color-red {
    color: var(--color-red);
}

.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #EEE;
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-orange {
    background-color: var(--color-orange);
}

.bg-green {
    background-color: var(--color-green);
}

/* Color  */

/* Start Border  */

.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-50 {
    border-radius: 50%;
}

.border-color {
    border: 1px solid #CCC;
}

.border-none {
    border: none;
}

/* End Border  */

/* Position  */
.relative {
    position: relative;
}

/* Position  */

/* Start Font  */
.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-25 {
    font-size: 25px;
}

.txt-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

@media (max-width: 767px) {
    .txt-center-mob {
        text-align: center;
    }
}

/* End Font  */

/* Width & Height  */
.width-fit {
    width: fit-content;
}

.full-width {
    width: 100%;
}

@media (max-width: 767px) {
    .hide-mobile {
        width: 62px;
        padding: 20px;
    }
}

/* Width & Height  */

/* SECTION: Component  */

.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

section {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

section h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
/* SECTION: Component  */