:root {
    --color-blue: #0075ff;
    --color-alt-blue: #0d69d5;
    --color-orange: #f59e0b;
    --color-green: #22c55e;
    --color-red: #f44336;
    --color-gray: #888;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* *:focus {
    outline: none;
} */

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-alt-blue);
}

.body-page {
    background-color: #f1f5f9;
    font-size: 20px;
}

/* Sidebar  */

.sidebar {
    width: 300px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar>h3 {
    margin-bottom: 50px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}

.sidebar ul li a {
    transition: .4s;
}

.sidebar ul li a span {
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 70px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sidebar>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .sidebar ul li a span {
        display: none;
    }
}

@media (min-width: 766px) {

    .sidebar>h3::before,
    .sidebar>h3::after {
        content: "";
        position: absolute;
        background-color: black;
        transform: translateX(-50%);
        left: 50%;
    }

    .sidebar>h3::before {
        width: 200px;
        height: 2px;
        bottom: -20px;
    }

    .sidebar>h3::after {
        bottom: -29px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 4px solid white;
    }
}

/* Sidebar  */

/* Content  */

.content {
    overflow: hidden;
}

.head .search::before {
    content: "\f002";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-gray);
}

.head .search input[type="search"] {
    padding-left: 40px;
    width: 208px;
    transition: width 0.6s;
}

.head .search input[type="search"]:focus {
    outline-color: var(--color-gray);
    width: 300px;
    /* transition: outline-color .6s; */
}

.head .search input[type="search"]:focus::placeholder {
    opacity: 0;
    transition: opacity .6s;
}

.head .icons .notification {
    cursor: pointer;
}

.head .icons .notification::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--color-red);
    border-radius: 50%;
    right: -2px;
    top: -1px;
}

.head .icons img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
}

.body-page h1 {
    margin: 20px 20px 40px;
}

.body-page h1::before,
.body-page h1::after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.body-page h1::before {
    background-color: white;
    width: 120px;
}

.body-page h1::after {
    background-color: black;
    width: 40px;
}

.system-dash {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .system-dash {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 20px;
        gap: 10px;
    }
}

/* Content  */

/* Section Widget  */

.box-1 {
    overflow: hidden;
}

.box-1 .page-box-1 img {
    width: 200px;
    margin-bottom: -10px;
}

.box-1 .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

.box-1 .body-box {
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.box-1 .body-box>div {
    flex: 1;
}

.box-1 .body-box>div i {
    margin-right: 6px;
}

.box-1 .visit {
    margin: 0 15px 15px auto;
    transition: .3s;
}

.box-1 .visit:hover {
    background-color: var(--color-alt-blue);
}

@media (max-width: 767px) {
    .box-1 .page-box {
        padding-bottom: 30px;
    }

    .hide-mob {
        display: none;
    }

    .box-1 .avatar {
        margin-left: 0;
    }

    .box-1 .body-box>div:not(:last-child) {
        margin-bottom: 20px;
    }
}

/* Section Widget */

/* Section Quick Craft  */

.box-2 textarea {
    resize: none;
    min-height: 180px;
}

.box-2 .save {
    margin-left: auto;
    transition: .3s;
    cursor: pointer;
}

.box-2 .save:hover {
    background-color: var(--color-alt-blue);
}

/* Section Quick Craft  */

/* Section Yearly Target  */

.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.targets .details {
    flex: 1;
}

.targets .details .progress {
    height: 4px;
}

.targets .details .progress>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 12px;
}

.targets .details .progress>span span::after {
    content: '';
    border-width: 5px;
    border-color: transparent;
    border-style: solid;
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
}

.targets .details .progress>.money span::after {
    border-top-color: var(--color-blue);
}

.targets .details .progress>.code span::after {
    border-top-color: var(--color-orange);
}

.targets .details .progress>.team span::after {
    border-top-color: var(--color-green);
}


.money .icon,
.money .progress {
    background-color: rgb(0 117 255 / 20%);
}

.code .icon,
.code .progress {
    background-color: #f59f0a33;
}


.team .icon,
.team .progress {
    background-color: rgb(34 197 94 / 20%);
}

/* Section Yearly Target  */